---
layout: default # 현재 home.html이 default 레이아웃을 사용하도록 되어 있음을 나타냅니다.
---
{% unless site.dash.show_author == false %}
  {% include author.html %} {# 저자 정보를 표시 (필요시 제거 가능) #}
{% endunless %}

{{ content }} {# index.html 또는 index.md 파일의 내용을 여기에 표시합니다. #}
             {# 이 부분에 블로그에 대한 간략한 소개 글을 추가할 수 있습니다. #}

<div class="external-blogs-section">
  <h2>연결된 블로그 목록</h2> {# 새로운 섹션 제목 #}
  <p>아래 링크를 통해 제가 운영하는 다른 블로그 또는 추천 블로그들을 만나보세요!</p>

  <ul class="blog-links-list">
    {% for blog in site.data.external_blogs %} {# _data/external_blogs.yml 파일을 읽어옵니다. #}
      <li>
        <div class="blog-item-wrapper">
          <span class="blog-index">{{ forloop.index }}.</span> {# 번호를 자동으로 매깁니다. #}
          <a href="{{ blog.url }}" class="blog-title-link" target="_blank" rel="noopener noreferrer">
            {{ blog.title }} {# 블로그 이름을 링크로 만듭니다. #}
          </a>
          {% if blog.description %}
            <p class="blog-description">{{ blog.description }}</p> {# 블로그 설명을 표시합니다. #}
          {% endif %}
        </div>
      </li>
    {% endfor %}
  </ul>
</div>

{# 기존의 `posts_count` 확인 로직과 `recent articles` 섹션, 페이지네이션, 태그 클라우드 부분은 모두 제거되었습니다. #}